.dashboard-slider {
    width: 100% !important;
    background-color: yellow !important;
    div{
        background-color: transparent !important;
        display: inline-block !important;
        width: 100%;
        img {
            width: 100%;
            height: 200px;
            background-color: yellow;
        }
    }
}
 