.admin-daily-task{
  .add-task-button{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      outline: none;
      border: none;
      background-color: var(--default-color);
      color: #FFF;
      padding: 5px 20px;
      border-radius: 4px;
      font-weight: 800;
    }
  }
}