.balnce-section div{
    width: 70%;
    height: 100px;
    margin: 30px auto;
    border: 1px solid #fff;
}
.balnce-section div p{
    margin: 0;
    padding: 0;

}
.balnce-section div:nth-child(1){
    /* background-color: #8C43AC !important; */
    background-color: indigo !important;
}
.balnce-section div:nth-child(2){
    background-color:darkmagenta !important;
}
.balnce-section div:nth-child(3){
    background-color:darkmagenta !important;
}
.balnce-section div:nth-child(4){
    background-color:darkmagenta !important;
}
.balnce-section div:nth-child(1) svg{
    background-color: indigo !important;
}
.balnce-section div:nth-child(2) svg{
    background-color:  darkmagenta!important;
}
.balnce-section div:nth-child(3) svg{
    background-color: darkmagenta !important;
}
.balnce-section div:nth-child(4) svg{
    background-color:  darkmagenta!important;
}
.balnce-section div svg{
    height:35px;
    width:35px;
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: -45px;
}
.withdraw-notice marquee{
    background-color: #fff ;
}
.withdraw-notice p{
    color: blue;
}
.balance-transfer-section .dashboard-user-info{
    width: 70%;
    height: 100%;
    margin: 30px auto;
    border: 1px solid #3A476B;
    background-color: #fff !important;
    color: #3A476B;
    margin-bottom: 0px;
}
.dashboard-user-info h5{
    padding: 0;
    margin: 0;
    padding-left: 10px;
    
}
.dashboard-user-info p{
    padding: 0;
    margin: 0;
    padding-left: 10px;
    
}
.dashboard-user-info span{
    width: initial;
    padding-left: 10px;
}
.dashboard-user-info div{
    background-color: rgb(238, 222, 222) !important;
    border: 1px solid #287DB6;
    padding: 0;
    margin-top: 5px;
}
.dashboard-sub-section{
    background-color: rgba(255, 0, 0, 0) !important;
}