.hot-sale{
    margin: 20px auto;
}
.hot-sale h3{
    color: blueviolet;
}
.hot-sale-cart-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.product-sction-titile{
    position: relative;
    z-index: -3;
}
.product-sction-titile h3{
    background-color: #fff;
    display: inline-block;
    z-index: 2 !important;
}
.product-sction-titile::after{
    position: absolute;
    content: "";
    background-color: #BA2BE2;
    width: 100%;
    height: 1px;
    top: 45%;
    right: 0px;
    z-index: -1;

}
.product-sction-titile::before{
    position: absolute;
    content: "";
    background-color: #BA2BE2;
    width: 100%;
    height: 1px;
    top: 50%;
    /* transform: translateY(50%); */
    right: 0px;
    z-index: -1;

}
@media only screen and (min-width:200px) and (max-width:1000px) { 
    .hot-sale-cart-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width:200px) and (max-width:550px) { 
    .hot-sale-cart-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
