.slider-section img {
    /* width: 100%;
    height: 300px; */
    width: 100%;
    aspect-ratio: 16/7;
    max-height: 550px;
}
.slider-section .slide-item-skeleton { 
    width: 100%;
    aspect-ratio: 16/7;
    max-height: 550px;
    display: inline-block;
    background-color: #e4e4e4;
}