.navbar {
    .search-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .search-body {
            display: flex;
            position: absolute;
            gap: 5px;
            align-items: center;
            padding: 5px 8px;
            height: 50px;
            width: 400px;
            border-radius: 30px;
            border: 1px solid  var(--default-color);

            input,
            button {
                border: none;
                outline: none;

            }

            input {
                width: 100%;
                height: 100%;
            }

            svg {
                height: 35px;
                width: 35px;
                color:  var(--default-color);

            }

            button {
                height: 100%;
                padding: 0px 20px;
                border-radius: 30px;
                background-color: var(--default-color);
                color: #FFF;
                font-weight: 700;
                &:hover{
                    opacity: .8;
                }
                &:active{
                    transform: scale(.95);
                }

            }
        }
       
    }
    .nav-item{
        a{
            width: max-content;
        }
    }
}

.navbar .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .help-section {
    background-color: #217e97;
    color: #FFF !important;
    border-radius: 4px;
    margin-right: 10px; 
    height: 100%; 

}

.navbar .help-section.mobile {
    display: none;

}

.navbar .help-section a,
.navbar .help-section svg {
    color: #FFF !important;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar .help-section a {
    padding: 5px 15px;
    display: flex !important;
    align-items: center;
    height: 100%; 
}

.navbar .help-section svg {
    height: 25px;
    width: 25px;
    color: #000 !important;

}

.menu-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(230, 230, 223);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.menu-icons svg {
    margin: 0 5px;
    font-size: 1.4rem;
    color: #000;
}

.menu-icons span {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 1rem;
    color: #fff;
    height: 15px;
    width: 15px;
    background-color: blueviolet;
    padding: 12px;
    border-radius: 50%;
}

.logo {
    height: 80px;
    width: 120px;
}

@media only screen and (min-width:200px) and (max-width:1000px) {
    .navbar {
        .search-container {  
            width: max-content; 
    
            .search-body { 
                padding: 4px 4px;
                height: 40px;
                width: 300px; 
      
    
                svg {
                    height: 35px;
                    width: 35px; 
    
                }
    
                button { 
                    padding: 0px 10px;
                    border-radius: 30px;  
    
                }
            }
        }
    }

}
@media only screen and (min-width:200px) and (max-width:650px) {
    .navbar {
        .search-container {   
    
            .search-body {  
                height: 35px;
                width: 240px; 
      
    
                svg {
                    height: 35px;
                    width: 35px; 
    
                }
    
                button { 
                    padding: 0px 10px;
                    border-radius: 30px;  
    
                }
            }
        }
    }
    .navbar .help-section.mobile {
        display: block;

    }

    .navbar .help-section.desktop {
        display: none;

    }

    .logo {
        height: 60px !important;
        width: 100px !important;
    }

    .navbar-container ul li a {
        font-size: 1rem;
    }

    .menu-icons {
        margin-top: 12px;
    }

}