.navbar .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .help-section {
    background-color: #217e97;
    color: #FFF !important;
    border-radius: 4px;
    margin-right: 10px;

}
.navbar .help-section.mobile {
    display: none;

}

.navbar .help-section a,
.navbar .help-section svg {
    color: #FFF !important;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar .help-section a {
    padding: 5px 15px;
}

.navbar .help-section svg {
    height: 25px;
    width: 25px;
    color: #000 !important;

}

.menu-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(230, 230, 223);
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.menu-icons svg {
    margin: 0 5px;
    font-size: 1.4rem;
    color: #000;
}

.menu-icons span {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 1rem;
    color: #fff;
    height: 15px;
    width: 15px;
    background-color: blueviolet;
    padding: 12px;
    border-radius: 50%;
}

.logo {
    height: 80px;
    width: 120px;
}

@media only screen and (min-width:200px) and (max-width:650px) {
    .navbar .help-section.mobile {
        display: block;
    
    }
    .navbar .help-section.desktop {
        display: none;
    
    }
    .logo {
        height: 60px !important;
        width: 100px !important;
    }

    .navbar-container ul li a {
        font-size: 1rem;
    }

    .menu-icons {
        margin-top: 12px;
    }

}