.just-for-you-head h3{
    color: blueviolet;
}
.just-for-you{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 20px 0;
}
@media only screen and (min-width:200px) and (max-width:1350px) { 
    .just-for-you{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width:200px) and (max-width:1100px) { 
    .just-for-you{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width:200px) and (max-width:800px) { 
    .just-for-you{
        grid-template-columns: repeat(2, 1fr);
    }
}
