.dashboard-section{
    background-color: #000;
    min-height: 100vh;
}
.dashboard-container{
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 15px;

}
.dashboard-container div{
    background-color: #1F2944;

}
.dashboard-menu{
    height: 100vh;
}
.resposeContainer{
    height: 50px !important;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}