.top-header a{
    text-decoration: none;
    margin: 8px;
}

.help-section{
    position: relative;
}
.help-section .help-menu{
    cursor: pointer;
}
.help-section .help-sub-section{
    position: absolute;
    top: 25px;
    right: 0px;
    display: flex;
    flex-direction: column;
    border: .1px solid #a1aab3;
    display: none;
    z-index: 552;
    background-color: #fff;
}
.help-section .help-control{
    display: flex;
}

.top-header-user div{
    float: right;
}
.top-social{
    font-size: .8rem;
}
.top-header-user a{
    color: #000 !important;
}


@media only screen and (min-width:200px) and (max-width:520px) { 
    .top-social a{
        font-size: .6rem;
        margin: 8px 4px;
    }
    .top-header-user a{
        font-size: .8rem;
        margin: 8px 4px;
    }
}
@media only screen and (min-width:200px) and (max-width:380px) { 
    .top-social {
        flex-direction: column;
        align-items: center;
    }
    .top-social a{
        font-size: 1rem;
    }
    .top-header-user a{
        font-size: 1rem;
    }
}
