 

.dashbord-header div {
    background-color: #FFF;
    color: #000;
    padding: 5px;
}

.dashbord-nav-items ul li a {
    color: #000 !important;
}

.dashbord-header .navbar-light .navbar-toggler-icon {
    background-image: url('../../../../assets/images/nav_icon/icons8-menu-64.png') !important;
}

.dashbord-control-icon svg {
    height: 26px;
    width: 26px;
}

.dashbord-active ul li span {
    display: none;
}


@media only screen and (min-width:200px) and (max-width:650px) {
    .logo {
        height: 35px;
        width: 80px;
    }

    .dashbord-header ul li a {
        font-size: .8rem;
    }

}