.common-table-section {
    margin-top: 20px;
    width: 100%;

    .table-title {
        background-color: var(--default-color);
        padding: 5px;
        font-weight: 600;
        font-size: medium;
        margin: 0px;
        color: #FFF;
    }

    .balance-section {
        margin: 10px 0px;

        .grid-section {
            display: flex;
            width: 100%;
            gap: 20px;

            .item {
                width: 100%;

                &.payment {
                    .top {
                        padding: 0px;
                        box-shadow: 1px 1px 2px 1.5px #0000001d;

                        img {
                            margin: 15px;
                        }

                        strong {
                            width: 100%;
                            text-align: center;
                            color: #FFF;
                            padding: 5px;
                        }
                    }
                }

                .top {
                    padding: 15px;
                    background-color: #FFF;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;

                    strong {
                        color: #4f4f4f;
                    }
                    p{
                        font-weight: 600;
                        color: red;
                        font-size: 17px;
                        strong{
                        color: red;
                        }
                    }

                    svg,
                    img {
                        height: 40px;
                        width: 40px;
                        color: #4f4f4f !important;
                    }
                }
            }
        }
    }

    .filter-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0px;
        flex-wrap: wrap;
        gap: 5px;

        .input-section {
            display: flex;
            align-items: center;
            gap: 5px;
            flex-wrap: wrap;

            .date {
                display: flex;
                box-shadow: 1px 1px 1px -1px #ac979714;
                border: 1px solid #e4e4e4;
                height: 30px !important;
                border-radius: 4px;
                overflow: hidden;

                span {
                    background-color: #e4e4e4;
                    padding: 0px 4px;
                }

                input {
                    border: none;
                }
            }

            input,
            select {
                border: 1px solid #e4e4e4;
                border-radius: 4px;
                box-shadow: 1px 1px 1px -1px #ac979714;
                height: 30px !important;
                box-sizing: border-box;
                padding: 5px;
            }
        }

        .submit-section {
            button {
                border: 1px solid #e4e4e4;
                border-radius: 4px;
                box-shadow: 1px 1px 1px -1px #ac979714;
                height: 30px;
                box-sizing: border-box;
                padding: 0px 20px;
            }
        }
    }

    .table-section {
        overflow: scroll;
        height: 200px;
        overflow-x: scroll;
        width: 100%;

        table {
            background-color: #FFF;

            thead {
                background-color: #e4e4e4;
            }


            tr {

                th,
                td {
                    min-width: 100px;
                    padding: 5px;
                    border: 1px solid #e4e4e4;
                    text-align: center;

                    &.small {
                        min-width: 30px !important;
                    }

                    &.big {
                        min-width:150px;
                    }
                    &.date {
                        min-width: 200px;
                    }

                    &.btn-container {
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 4px;
                            height: 100%;

                            button {
                                border: none;
                                outline: none;
                                border-radius: 4px;
                                color: #FFF;
                                background-color: red;

                                &.reject {
                                    background-color: blue;
                                }

                                &.approve {
                                    background-color: green;
                                }

                                &:hover,
                                &:disabled {
                                    opacity: .6;
                                }

                                &:active {
                                    transform: scale(.9);
                                }

                            }
                        }

                    }

                    &.approved {
                        button {
                            background-color: green;
                        }
                    }

                    &.pending {
                        button {
                            background-color: red;
                        }
                    }
                }

                th {
                    border: 1px solid #f8f5f5;

                }
            }
        }
    }



}

@media only screen and (min-width:200px) and (max-width:750px) {
    .common-table-section {
        margin-top: 15px;

        .table-title {
            font-size: 12px;
        }

        .balance-section {

            .grid-section {
                gap: 5px;

                .item {

                    .top {
                        padding: 5px;
                        gap: 4px;
                        font-size: 12px;
                        strong {
                            color: #4f4f4f;
                        }
                        p{
                            font-size: 15px;
                        }
                        svg,
                        img {
                            height: 30px;
                            width: 30px;
                        }
                    }
                }
            }
        }

        .filter-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px 0px;

            .input-section {
                gap: 5px;
                font-size: 12px;

                .date {
                    height: 25px !important;
                    font-size: 12px;

                    span {
                        padding: 0px 4px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                    }

                    input {
                        max-height: 100%;
                        padding: 0px;
                        padding-left: 4px;
                    }
                }

                input,
                select {
                    height: 25px !important;
                    box-sizing: border-box;
                    padding: 0px 5px;
                }
            }

            .submit-section {
                button {
                    font-size: 12px;
                    height: 20px;
                    padding: 0px 15px;
                }
            }
        }

        .table-section {

            table {
                font-size: 12px;


                
            }
        }



    }
}