.side-nav-container {
    padding: 10px;
    transition: .5s ease-in-out;
}

.side-nav-container .user-profile {
    height: 120px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #90919e;
    border-bottom: 1px solid #90919e3e;
    margin-bottom: 10px;
}

.side-nav-container .user-profile svg {
    height: 50%;
    width: 50%;
}

.side-nav-container .user-profile p {
    font-size: 1.2rem;
    font-weight: 500;
}

.side-nav-container li,
.side-nav-container li a {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    text-decoration: none;
    color: var(--default-color);
    transition: .5s ease-in-out;

}

.side-nav-container li a {
    padding: 4px 5px 4px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.dashboard-menu ul li span {
    display: flex;
}

.dashboard-menu ul li span .upcomming {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #fff;
    margin-left: 10px;
    border-radius: 5px;
    font-size: small;
}

.side-nav-container .nesting-menu p {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 4px 5px 4px 12px;
}

.side-nav-container .nesting-menu div {
    width: 100%;
    padding: 4px 5px 4px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.side-nav-container li:hover,
.side-nav-container .nesting-menu div:hover {
    background-color: #f6f0f0;
}

.side-nav-container .nesting-menu:hover {
    background-color: transparent;

}

.side-nav-container .nesting-menu ul {
    padding: 0px 10px !important;
    width: 100%;
    height: 0px;
    z-index: -1;
    transition: .5s ease-in-out;
}

.side-nav-container .nesting-menu ul li {
    padding: 5px 20px !important;
}

.side-nav-container .nesting-menu:hover ul {
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateY(0px);
    /* visibility: hidden; */
}

.side-nav-container li svg,
.side-nav-container li a svg {
    height: 22px;
    width: 22px;
    color: var(--default-color);
}

.side-nav-container .nesting-menu ul {
    padding: 4px 5px 4px 12px;
    border-radius: 3px;
}

@media only screen and (min-width:200px) and (max-width:810px) {
    .dashboard-menu ul li {
        display: flex;
        align-items: center;
    }


}

@media only screen and (min-width:200px) and (max-width:600px) {
    .admin-search input {
        width: 95% !important;
        margin: auto;
    }

    .dashboard-menu ul li a svg {
        margin-top: 5px !important;
    }

}

/* ==================Responsive Navicario For ALl============== */
@media only screen and (min-width:200px) and (max-width:750px) {
    .dashboard-container {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-row-gap: 5px;
        grid-column-gap: 15px;
    }

    .balance-transfer-section form select {
        width: 80% !important;
        border-radius: 4px;
    }

    .balance-transfer-section form input {
        width: 80% !important;
    }

    .balance-transfer-section form input[type=submit] {
        width: 180px !important;
    }

    .balance-transfer-section form input {
        outline: none;
        border: none;
        border-radius: 3px;
        width: 100%;
        display: block;
        color: #000;
        margin: 3px 0px 3px 8px !important;
    }

    .balance-transfer-section form select {
        outline: none;
        border: none;
        border-radius: 3px;
        width: 100%;
        display: block;
        color: #000;
        margin: 3px 0px 3px 10px !important;
    }

    .balance-transfer-section form input[type="submit"] {
        margin: auto !important;
    }

    .balance-transfer-section .product-details .product-details-inner .product-wrapwer div {
        margin: 0px !important;
        padding: 0px;
    }
}

@media only screen and (min-width:200px) and (max-width:630px) {
    .dashboard-container {
        display: grid;
        grid-template-columns: .4fr 1fr;
        grid-row-gap: 5px;
        grid-column-gap: 15px;
    }

}

@media only screen and (min-width:200px) and (max-width:600px) {
    .dashboard-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
    }

    .dashboard-container div {
        display: block;
    }

    .dashboard-menu {
        display: none !important;
    }

    .dashbord-active .dashboard-container div {
        display: none;
    }

    .dashbord-active .dashboard-menu {
        display: block !important;
        width: 100vw !important;
        min-width: 100% !important;
    }

    .dashbord-active .dashboard-menu ul li span {
        display: flex;
        margin-left: 5px;
    }

    .dashboard-menu ul li a {
        display: flex;
    }

}