.balance-transfer-section .withdraw-notice{
    background-color: rgba(128, 0, 128, 0.548) !important;
    padding: 0px;
}
.withdraw-history{
    width: 99% !important;
    box-sizing: border-box;
}
.balance-transfer-section .withdraw-notice p{
    padding: 5px;
    margin: 0;
}
.withdraw-table{
    box-sizing: border-box;
    margin: 0;
    padding: 0 !important;
}
@media only screen and (min-width:200px) and (max-width:700px) {
    .withdraw-notice p {
        font-size: .8rem;
    }
}
