.dashboard-menu ul{
    margin: 0;
    padding: o;
}
.dashboard-menu ul li{
    margin: 0;
    padding: o;
    list-style: none;
    padding: 5px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
.dashboard-menu ul li a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
}
.sub-menu{
    display: none;
}
.active-sub-menu{
    display: block;
}
@media only screen and (min-width:200px) and (max-width:810px) { 
    .dashboard-menu ul li span{
       font-size: .88rem;
    }
   
}
@media only screen and (min-width:200px) and (max-width:600px) { 
    .dashboard-menu ul li span{
        font-size: .75rem;
     }
     
}


